*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

button {
  margin: 1rem;
}

.btn {
  background-color: var(--background-color);
  color: #222;
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  --background-color: #E3E3E3;
  --border-size: 2px;
  --accent-color: #0AF;
}

.btn.btn-border-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}




.btn.btn-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
  transform: scaleX(1);
}

.btn.btn-background-slide {
  transition: color 300ms ease-in-out;
  z-index: 1;
}


.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
  color: white;
}





.btn.btn-background-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;

  transform: scale(1.5);
}

.btn.btn-background-circle:hover::before,
.btn.btn-background-circle:focus::before {
  transform: scale(0);
}

.btn.btn-background-circle {
  z-index: 1;
  overflow: hidden;
  background-color: var(--accent-color);
  transition: color 500ms ease-in-out;
}

.btn.btn-background-circle:hover,
.btn.btn-background-circle:focus {
  color: white;
}





.btn.btn-border-underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.btn.btn-border-underline:hover::before,
.btn.btn-border-underline:focus::before {
  transform: scaleX(1);
}